<% if @task.nil? %>
  <h1> 404 Not found</h1>
<% else %>
  <h1>Task</h1>
  <%= @task.chore %>
  <%= @task.status %>
  <%= link_to "Delete", delete_task_path(@task.id), method: :delete, :data => {:confirm => 'Are you sure?'}%>
<% end %>

<div></div>
<%= link_to 'Back', tasks_path %>
